*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: red;
    cursor: url['https://img.freepik.com/free-photo/modern-residential-district-with-green-roof-balcony-generated-by-ai_188544-10276.jpg?w=900&t=st=1688628886~exp=1688629486~hmac=f8115df316ee7b0ae831e363660dd3fd8a3f7512ebdede2ecc5391cfc5dd7867'],auto;

}
.box{
    padding: 20px;
    background-color: red;
    width: 110px;
    height: 110px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.container{
    display: flex;
    height: 500px;
    border: 1px solid;
    justify-content: space-around;
    align-items: center;
}