*{
  border: opx;
  padding: 0px;
  margin:0px;
  background-color: darkcyan;
}
.type{
    display: flex;
}
.rolex{
    width: 50%;
}
.rolex{
width: 50%; height: 50%;

}
.td{
  
color: red;

}
.border{
padding: 24px 26px;
/* color: white; */
background-color: aliceblue;

}